<%- include('./partials/header') %>


	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Cafetera</h2> 
			<p class="product-detail-description">
				<a href="product-add.ejs">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/cafetera.jpg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						Cafetera de alta calidad, diseñada tecnología avanzada, esta cafetera ofrece un rendimiento excepcional para satisfacer incluso a los amantes del café más exigentes. Con su elegante diseño y funcionalidad intuitiva, preparar tu café favorito nunca ha sido tan fácil y rápido.
						Además, su capacidad para mantener el café caliente durante horas te permite disfrutar de cada sorbo en su temperatura perfecta.
					</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for (let i = 0; i < 5; i++) { %>
							<% const comentario = comentarios[i]; %>
							<article>
								
								<div class="data">
									<p class="user">
										<strong><%= comentario.id_usuario %></strong>
										<%= comentario.texto_comentario %>
									</p>
								</div>
							</article>
						<% } %>
					</section>
					<form class="form" action="/usuarios/profile/1" method="GET">
						<input class="form-input" type="text" name="comentario" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	
<%- include('./partials/footer') %>